
<mat-card>
  <mat-spinner class= "spinner" *ngIf="isLoading"></mat-spinner>
  <form (submit) = "onSignUp(signUpForm)" #signUpForm = "ngForm" *ngIf="!isLoading">
  <mat-form-field>
    <input matInput
          type = "text"
          name = "username"
          ngModel
          placeholder="Username"
          #emailInput = ngModel
          required
          email >
    <mat-error *ngIf="emailInput.invalid"> Enter Valid Username</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput
           type="password"
           name = "password"
           ngModel
           #passInput = "ngModel"
           required
           placeholder="Password">
    <mat-error *ngIf="passInput.invalid">  </mat-error>
  </mat-form-field>

  <button
          mat-raised-button
          color = "primary"
          type = "submit"> SIGN UP </button>
  </form>
</mat-card>




